.info {
    font-family: 'Inter', sans-serif;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 41.25rem;
    margin-right: 100px;
}

.info__container {
    margin: 0 1.25rem;
    max-width: 37rem;
    /* display: flex;
    flex-direction: column;
    align-items: center */
}

.info__data {
    margin-left: 27px;
}

.info__header1,
.info__header2 {
    margin-bottom: .75rem;
    font-size: 1.875rem;
    line-height: 2.5rem;
    font-weight: 700;
}

.info__header2 {
    font-size: 1.25rem;
    line-height: 1.625rem;
}

.info__para {
    margin-bottom: 1.5rem;
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
}

.info__svg {
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media (max-width: 1290px) {
    .info {
        margin-left: -75px;
    }

    .info__data1 {
        margin-bottom: 700px;
        min-width: 110% !important;
        max-width: 110% !important;
    }

    .info__data2 {
        min-width: 110% !important;
        max-width: 110% !important;
    }
}

@media (max-width: 1190px) {
    .info {
        margin-left: -75px;
    }
}


@media (max-width: 960px) {
    .info__data2, .info__data1 {
        min-width: 140% !important;
        max-width: 140% !important;
    }

    .info__svg {
        min-width: 130% !important;
        max-width: 130% !important;
    }
    .info {
        margin-left: -75px;
    }
}

@media (max-width: 683px) {
    .info__data1 {
        margin-bottom: 720px;
    }
}

@media only screen and (max-width: 1200px) and (min-width: 1024px) {
    .info__data1{
        margin-bottom: 630px;
    }
}

@media only screen and (max-width: 768px) {
    .info__data1{
        margin-bottom: 610px;
    }
    .info__svg {
        margin-top: 20px;
        margin-left: 40px;
    }
}

@media only screen and (max-width: 540px) and (min-width: 539px) {
    .info__data1, .info__data2 {
        min-width: 190% !important;
    }

    .info__data1 {
        margin-bottom: 700px;
    }
}

@media only screen and (max-width: 414px) {
    .info {
        margin: 0px;
        margin-left: 10px;
    }
    .info__header1 {
        font-size: 1.5rem;
    }
    .info__header2 {
        font-size: 1rem;
    }
    .info__data1 {
        margin-bottom: 700px;
    }
    .info__svg {
        margin-top: 20px;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 400px) and (min-width: 340px) {
    .info{
        margin-left: 0px;
    }
    .info__svg {
        min-width: 135% !important;
    }
}

@media only screen and (max-width: 330px) {
    .info__svg {
        margin-top: -15px;
    }
}